<!DOCTYPE html>
<html>
  <head>
    <title>AutoDraft</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>  
  </head>

  <body>
  	<div class="container" style="padding-top:20px">
    	<%= yield %><br><br>
       <footer><h4>(c) Brafinney 2016</h4></footer>
    </div>
   
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
